<h1>Manager#delete_student</h1>
<h2>Delete Student</h2>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%=form_for @student, url: {action: "delete_student"} do |f| %>
<table summary="Subject form fields">
  <tr>
    <th>roll_no</th>
    <td><%= f.text_field(:roll_no) %></td>
  </tr>
  <tr>
  </table>
        <%= f.submit("Delete Student") %>
    <% end %>
