<%=form_for @cut, url: {action: "update_mess_cut"} do |f| %>
<table summary="Subject form fields">
  <tr>
    <th>Status</th>
    <td><%= f.select :status, [['Approve', 'yes'], ['Deny', 'no']] %></td>
  </tr>
  <td><%= f.submit("Update") %></td>


<% end %>
