<h1>Manager#view_feedback</h1>
<table>
    <tr>

      <th>Roll no</th>
      <th>Name</th>
      <th>feedback</th>
      <th>status</th>
    </tr>
   <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.s_id %></td>
      <td class="center"><%= feedback.name %></td>
      <td class="center"><%= feedback.feedback %></td>
      <td class="center"><%= feedback.status %></td>
    </tr>
    <% end %>
  </table>
