<h1>Manager#view_stock</h1>
<table>
    <tr>

      <th>Stock Id</th>
      <th>Stock Name</th>
      <th>Quantity</th>
      <th>Cost Per Unit</th>
    </tr>
   <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.stock_id %></td>
      <td class="center"><%= stock.stock_name %></td>
      <td class="center"><%= stock.quantity %></td>
      <td class="center"><%= stock.cost_per_unit %></td>


    </tr>
    <% end %>
  </table>
