<h1>Manager#view_feedback</h1>
<table>
    <tr>

      <th>Roll no</th>
      <th>Name</th>
      <th>feedback</th>
      <th>status</th>
    </tr>
    <% @feedbacks.each do |f| %>
    <tr>
      <td class="center"><%= f.s_id %></td>
      <td class="center"><%= f.name %></td>
      <td class="center"><%= f.feedback %></td>
      <td class="center"><%= f.status %></td>
    </tr>
    <% end %>
  </table>
